@import url(https://fonts.googleapis.com/css?family=Righteous);

:root {
  --img-1: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  --img-2: url(https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  --img-3: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  --img-4: url(https://images.pexels.com/photos/1558732/pexels-photo-1558732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  --img-5: url(https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

body {
  color: #fff;
  font-family: "Righteous", sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.text {
  display: flex;
  font-variant: small-caps;
  font-size: 3rem;
  line-height: 3rem;
  margin: 50px auto;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.img-panel {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.img-1 {
  background-image: var(--img-1);
}

.img-2 {
  background-image: var(--img-2);
}

.img-3 {
  background-image: var(--img-3);
}

.img-4 {
  background-image: var(--img-4);
}

.img-5 {
  background-image: var(--img-5);
}